.container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.inputdata {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
